//
// Right Inner Aside Dark Skin
//



// Base
.kt-inner-aside-right {
	background-color: kt-get($kt-inner-aside-right-config, self, bg-color);
	box-shadow: kt-get($kt-inner-aside-right-config, self, shadow);
	padding: kt-get($kt-inner-aside-right-config, self, padding);

	// Content
	.kt-inner-aside-right__content {
		height: 100%;

		.ps {
			> .ps__rail-y {
				right: 5px !important;
			}
		}
	}

	.kt-inner-aside-right__content-padding-x  {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

// Build offcanvas mode
@include kt-offcanvas-build(kt-inner-aside-right, default, kt-get($kt-inner-aside-right-config, self, offcanvas) );

// Mobile view
@include kt-tablet-and-mobile {
	// Base
	.kt-inner-aside-right {

		// Content
		.kt-inner-aside-right__content {
			height: 100%;

			.tab-pane {
				padding-right: 0.5rem;
			}
		}
	}
}
